<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpdi.mapper.UserMapper" >
   <!--根据sql查询sys_user信息-->
    <select id="getUserListBySql" parameterType="String" resultType="com.gpdi.entity.User">
        ${value }
    </select>
    <select id="selOrdersState" resultType="java.util.HashMap">
        select id,place from sys_user limit 10;
    </select>

</mapper>