<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpdi.web.mapper.WebArticleMapper" >

   <!--根据sql查询business信息-->
    <select id="getAllArticleByContent" parameterType="String" resultType="com.gpdi.common.domain.Article">
        select * from article where content like concat('%',#{name},'%') or name like concat('%',#{name},'%') or writer like concat('%',#{name},'%') or id like concat('%',#{name},'%')
    </select>
</mapper>